body {
	background-image: url(/img/play/numberplace/bg.png);
}
#np {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
	background-color: rgba(255,255,255,.9);
	table-layout: fixed;
}
#np td {
    border: 1px solid #444;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#np td.fx {
    background-color: rgba(0,0,0,.1);
}
#np tr td:nth-of-type(3),
#np tr td:nth-of-type(6) {
    border-right-width: 2px;
}
#np tr:nth-of-type(3) td,
#np tr:nth-of-type(6) td{
    border-bottom-width: 2px;
}
#np td.selected > div {
    background-color: rgba(170, 255, 255, .7) !important;
}
#np td.selected > .num {
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 0 1px 3px red, 0 0 1px 1px red inset;
    -webkit-box-shadow: 0 0 1px 3px red, 0 0 1px 1px red inset;
}
#np td.same > div {
    background-color: rgba(170, 255, 255, .4);
}
#sub::after {
    content: ' ';
    width: 0; height: 0;
    display: block;
    clear: both;
}
#num-select,
#commands {
    width: 50%;
    float: left;
}
#num-select > div {
    display: box;
    display: -webkit-box;
}
#num-select > div > a {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-flex: 1;
    -webkit-box-flex: 1;
	min-width: 33%;
    display: block;
    margin: 2px;
    padding: 0;
    font-size: xx-large;
}
#num-select > div > a > img {
	width: 100%;
}
#commands {
	position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
#commands a {
/*
	position: absolute;
}
#num-set {
	top: 5px;
	left: 50%;
	margin-left: -40px;
}
#num-undo {
	top: 100px;
	left: 5px;
}
#num-clear {
	top: 100px;
	right: 5px;
*/
}
#commands a > img {
	width: 60px;
    margin: -3px 2px;
}


/************/
table.memo {
    width: 100%;
    height: 100%;
    font-size: xx-small;
    line-height: 0!important;
    opacity: .7;
    color: #a0f;
    table-layout: fixed;
}
table.memo, table.memo * {
    border: none!important;
}
.num {
    color: green;
}
.fx .num {
    color: #333;
}
.num.same-number {
    color: red;
}
.over {
    position: relative;
}
.over::before,
.over::after {
    display: block;
    position: absolute;
    width: 6px;
    height: 100%;
    background: red;
    content: ' ';
    z-index: 100;
    top: 0;
    left: 50%;
    margin-left: -3px;
}
.over::before {
    -webkit-transform: rotateZ(-45deg);
}
.over::after {
    -webkit-transform: rotateZ(45deg);
}
